<!DOCTYPE html>
<html>
<head> <% include ../static/head %> </head>
<body>
<header>

</header>
<div class="posts">
    <!-- main start-->

    <!-- views/posts/index.ejs -->
    <div class="index">
        <h3><a href="/posts">공지사항,QNA 보러가기</a></h3>
        <a href="/question"><button>New</button></a>
        <% if(user) {%>
            <a href="/logout" class="float_right"><button>Logout</button></a>
            <a href="/users/<%= user._id %>" class="float_right"><button>My Profile (<%= user.nickname %>)</button></a>
        <% } else { %>
            <a href="/login" class="float_right"><button>Login</button></a>
            <a href="/users/new" class="float_right"><button>Sign Up</button></a>
        <% } %>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>문의 종류</th>
                <th>제목</th>
                <th>내용</th>
                <th>파일</th>
                <th>전송 시간</th>
            </thead>
            <tbody>

            <% var j=data.length;%>
            <% data.forEach(function(e){ %>
                <tr>
                    <td><%= j-- %></td>
                    <td> <%= e.selected_kind %></td>
                    <td> <%= e.title%></td>
                    <td> <%= e.body%></td>
                    <td> <a href="https://benepictureask.s3.ap-northeast-2.amazonaws.com/<%= e.imageFileName%>"> [1] </a></td>
                    <td> <%= e.createdAt.toLocaleString()%></td>
                </tr>
            <% })%>
            </tbody>
        </table>
    </div>

    <!-- main end -->
</div><!--posts end -->
<footer>

</footer>
</body>
</html>